
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
# Ignore environment variables / credentials
.env
# Ignore EnvFile with all the Credentials
EnvFile